.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display:flex;
    width: 300px;
    justify-content: space-between;

}

button {
    border: none;
    border-radius: 10px;
    background-color: rgb(165, 255, 255);
    width: 60px;
    border-width: 2px;
    border-style: solid;
}

button:hover{
    background-color: cadetblue;
}

input {
    height: 30px;
    width: 200px;
    border: 30px;
    background-color: rgb(165, 255, 255);
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    padding-left: 10px;
}